.promote {

}
.full-width{
    width: 100%;
}
.content-right .title {
    background: #5e5e5e;
    color: #ffffff;
    height: 32px;
    font-size: 15px;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}
.content-right a.more {
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
}
.about {

}
.about .content{

}
.product-show {

}
.product-show .content{

}
.product-list{
    margin: 5px 0;
}
.product-list .type{
    background: #777777;
    color: #ffffff;
    height: 32px;
    font-size: 12px;
    padding: 8px 4px;
    font-weight: bold;
}
.product-list .items{

}
.product-list .breakline{
    height: 1px;
    border: dashed #777777 1px;
}
.product-pic {
    width: 50%;
    height: 105px;
    margin: 5px 5px 5px 5px;
}
.product-desc {
    width: 45%;
    margin: 25px 0 0 0;
    font-size: 12px;
}
.product-desc a.detail {
}