.desc {
    margin: 0px 10px;
}
.desc h4 {
    font-weight: bold;
}
.desc span {
    font-family: Verdana;
    font-size: 15px;
}

.desc ul {
    margin-top: 20px;
    font-family: Verdana;
    font-size: 15px;
}

.desc ul li {

}